<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="nav">
      <span><%= link_to 'Twitter', root_path, :class => 'nav-link title' %></span>
      <% if user_signed_in? %>
        <%= link_to 'My Profile', user_profile_path(current_user.id), :class => 'nav-link' %> |
        <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'nav-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, :class => 'nav-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
      <% end %>
    </p>

    <%= yield %>
  </body>
</html>
